h1{
    color: blue;
}
#contenedor{
    position: relative;
    background-color: gray;
    width: 300px;
    height: 300px;
}
.primera{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    position: absolute;
}
.segunda{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    margin-left: 100px;
    position: absolute;
}
.tercera{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
.cuarta{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    position: absolute;
}
.quinta{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    margin-left: 100px;
    position: absolute;
}
.sexta{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
.siete{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    position: absolute;
}
.ocho{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    margin-left: 100px;
    position: absolute;
}
.nueve{
    background-color: rgb(242, 255, 0);
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
.diez{
    background-color: rgb(25, 0, 255);
    width: 100px;
    height: 50px;
    position: absolute;
}
.once{
    background-color: rgb(25, 0, 255);
    width: 100px;
    height: 50px;
    margin-left: 100px;
    position: absolute;
}
.doce{
    background-color: rgb(25, 0, 255);
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
.trece{
    background-color: rgb(25, 0, 255);
    width: 100px;
    height: 50px;
    position: absolute;
}
.catorce{
    background-color: rgb(25, 0, 255);
    width: 100px;
    height: 50px;
    margin-left: 100px;
    position: absolute;
}
.quince{
    background-color: rgb(25, 0, 255);
    width: 100px;
    height: 50px;
    margin-left: 200px;
}
.dieciseis{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 50px;
    position: absolute;
}
.diecisiete{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 50px;
    margin-left: 100px;
    position: absolute;
}
.dieciocho{
    background-color: rgb(255, 0, 0);
    width: 100px;
    height: 50px;
    margin-left: 200px;
}